torch>=2.3.0
torchvision>=0.18.0
lightning>=2.2.4
transformers>=4.40.2
sentencepiece>=0.2.0
scikit-learn>=1.4.0
pytextrank>=3.2.5
torchmetrics>=1.4.0
jsonlines>=4.0.0
simplejson>=3.19.2
requests>=2.31.0
pandas>=2.0.3
tensorboard>=2.15.1
spacy>=3.0.6
pytextrank>=3.1.1
numpy>=1.25.2
weaviate-client>=4.6.5
colorlog>=6.8.2
FlagEmbedding>=1.2.10
# for tokenization
reldi-tokeniser>=1.0.3
obeliks>=1.1.6
stanza>=1.8.2
tiktoken>=0.7.0
elasticsearch>=8.15.1
